
//* container bottoni nav bar e scelta colore
//* X-INDEX 10000
.button-box-top {
  display: flex;
  align-items: center;
  position: fixed;
  padding: var(--spacing-lg);
  top: 0;
  right: 0;
  height: fit-content;
  z-index: 10000;
  transition: padding 0.3s ease-in-out;
}

.button-box-top:has(.menuNavBar.open){
  padding: 0;
}

//* =====================================